<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Keywords" content="blog"/>
    <meta name="Description" content="blog"/>
    <title>Simple</title>
    <link rel="shortcut icon" href="/static/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>
<body>
<div class="main">
    <div class="header">
    	<ul id="pages">
            <li><a href="/">home</a></li>
            <li><a href="/#/tags">tags</a></li>
            <li><a href="/#/archive">archive</a></li>
    	</ul>
    </div>
	<div class="wrap-header">
	<h1>
    <a href="/" id="title"></a>
	</h1>
	</div>
<div id="md" style="display: none;">
<!-- markdown -->
#Django 静态文件部署
##官方文档1.9
###[如何部署静态文件](https://docs.djangoproject.com/en/1.9/howto/static-files/)
1. settings.py文件，INSTALLED_APPS配置项有django.contrib.staticfiles；
2. settings.py文件，STATIC_URL = '/static/'；
3. 在模板中使用   
    {% load staticfiles %}     
    src="{% static "myexample.jpg" %}"
4. 静态文件位于app下的static目录，也可配置STATICFILES_DIRS来指定其他位置（推荐配置一个专门 目录来存放，Django默认使用第一个找到的文件，即使还存在其他同名文件）

###[The staticfiles app](https://docs.djangoproject.com/en/1.9/ref/contrib/staticfiles/#module-django.contrib.staticfiles)
* Django使用django.contrib.staticfiles管理静态文件，即前一部分中INSTALLED_APPS的要求配置项
* [STATICFILES\_FINDERS](https://docs.djangoproject.com/en/1.9/ref/settings/#std:setting-STATICFILES_FINDERS)，默认配置1和2，没有3
    1. 'django.contrib.staticfiles.finders.FileSystemFinder'搜索STATICFILES_DIRS位置的静态文件
    2. 'django.contrib.staticfiles.finders.AppDirectoriesFinder'搜索app下static目录的静态文件
    3. ’django.contrib.staticfiles.finders.DefaultStorageFinder‘搜索DEFAULT\_FILE\_STORAGE位置的文件
* django.contrib.staticfiles提供了三个命令
    1. collectstatic 通过配置的FINDERS搜索文件，然后将静态文件放到STATIC\_ROOT位置下
    2. findstatic 搜索静态文件，有--first， --verbosity选项
    3. runserver 当INSTALLED_APPS配置项有django.contrib.staticfiles时，覆盖默认的runserver。配置项有--nostatic，--insecure（不推荐使用）

###[生产环境静态文件部署](https://docs.djangoproject.com/en/1.9/howto/static-files/deployment/)

<!-- markdown end -->
</div>
<div class="entry" id="main">
<!-- content -->
<h1>Django 静态文件部署</h1>
<h2>官方文档1.9</h2>
<h3><a href="https://docs.djangoproject.com/en/1.9/howto/static-files/">如何部署静态文件</a></h3>
<ol>
<li>settings.py文件，INSTALLED_APPS配置项有django.contrib.staticfiles；</li>
<li>settings.py文件，STATIC_URL = '/static/'；</li>
<li>在模板中使用 <br>
    {% load staticfiles %}   <br>
    src="{% static "myexample.jpg" %}"</li>
<li>静态文件位于app下的static目录，也可配置STATICFILES_DIRS来指定其他位置（推荐配置一个专门 目录来存放，Django默认使用第一个找到的文件，即使还存在其他同名文件）</li>
</ol>
<h3><a href="https://docs.djangoproject.com/en/1.9/ref/contrib/staticfiles/#module-django.contrib.staticfiles">The staticfiles app</a></h3>
<ul>
<li>Django使用django.contrib.staticfiles管理静态文件，即前一部分中INSTALLED_APPS的要求配置项</li>
<li><a href="https://docs.djangoproject.com/en/1.9/ref/settings/#std:setting-STATICFILES_FINDERS">STATICFILES_FINDERS</a>，默认配置1和2，没有3<ol>
<li>'django.contrib.staticfiles.finders.FileSystemFinder'搜索STATICFILES_DIRS位置的静态文件</li>
<li>'django.contrib.staticfiles.finders.AppDirectoriesFinder'搜索app下static目录的静态文件</li>
<li>’django.contrib.staticfiles.finders.DefaultStorageFinder‘搜索DEFAULT_FILE_STORAGE位置的文件</li>
</ol>
</li>
<li>django.contrib.staticfiles提供了三个命令<ol>
<li>collectstatic 通过配置的FINDERS搜索文件，然后将静态文件放到STATIC_ROOT位置下</li>
<li>findstatic 搜索静态文件，有--first， --verbosity选项</li>
<li>runserver 当INSTALLED_APPS配置项有django.contrib.staticfiles时，覆盖默认的runserver。配置项有--nostatic，--insecure（不推荐使用）</li>
</ol>
</li>
</ul>
<h3><a href="https://docs.djangoproject.com/en/1.9/howto/static-files/deployment/">生产环境静态文件部署</a></h3>

<!-- content end -->
</div>
<br>
<br>
    <div id="disqus_thread"></div>
	<div class="footer">
		<p>© Copyright 2014 by isnowfy, Designed by isnowfy</p>
	</div>
</div>
<script src="main.js"></script>
<script id="content" type="text/mustache">
    <h1>{{title}}</h1>
    <div class="tag">
    {{date}}
    {{#tags}}
    <a href="/#/tag/{{name}}">#{{name}}</a>
    {{/tags}}
    </div>
</script>
<script id="pagesTemplate" type="text/mustache">
    {{#pages}}
    <li>
        <a href="{{path}}">{{title}}</a>
    </li>
    {{/pages}}
</script>
<script>
$(document).ready(function() {
    $.ajax({
        url: "main.json",
        type: "GET",
        dataType: "json",
        success: function(data) {
            $("#title").html(data.name);
            var pagesTemplate = Hogan.compile($("#pagesTemplate").html());
            var pagesHtml = pagesTemplate.render({"pages": data.pages});
            $("#pages").append(pagesHtml);
            //path
            var path = "django_staticfile.html";
            //path end
            var now = 0;
            for (var i = 0; i < data.posts.length; ++i)
                if (path == data.posts[i].path)
                    now = i;
            var post = data.posts[now];
            var tmp = post.tags.split(" ");
            var tags = [];
            for (var i = 0; i < tmp.length; ++i)
                if (tmp[i].length > 0)
                    tags.push({"name": tmp[i]});
            var contentTemplate = Hogan.compile($("#content").html());
            var contentHtml = contentTemplate.render({"title": post.title, "tags": tags, "date": post.date});
            $("#main").prepend(contentHtml);
            if (data.disqus_shortname.length > 0) {
                var disqus_shortname = data.disqus_shortname;
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            }
        }
    });
});
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ["\\(", "\\)"]], processEscapes: true}});
</script>
</body>
</html>
